body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
  }
  
  /* h1 {
    color: green;
  } */
  
  /* li {
    color: grey;
    padding-top: 5px;
    font-size: 15px;
  } */
  
  #success {
    color: white;
    background: green;
    font-size: 15px;
    padding: 10px;
  }
  
  #error {
    color: white;
    background: red;
    font-size: 15px;
    padding: 10px;
  }

  